%h1 Listing observations

%table{class: 'table table-bordered'}
  %thead
    %tr
      %th ID
      %th Reaction name
      %th Donor
      %th Acceptor
      %th Reaction
      %th Lab
      %th Environment type
      %th Location name
      %th Rate
      %th Gibbs energy
      %th Reference
      %th Paper
      %th
      %th
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        %td= observation.id
        %td= observation.reaction_name
        %td= observation.donor
        %td= observation.acceptor
        %td= observation.reaction
        - if observation.lab 
          %td Lab
        - else
          %td In Situ
        %td= observation.environment_type
        %td= observation.location_name
        %td= observation.rate
        %td= observation.gibbs_energy
        %td= observation.reference
        %td= observation.paper
        %td= link_to 'Show', observation
        %td= link_to 'Edit', edit_observation_path(observation)

%br
%h1 What abilities do I have?
%ul
  = can?(:manage, Observation)
  = can?(:manage, :all)

= link_to 'New Observation', new_observation_path
