%h1 Observations

%table{class: 'table'}
  %thead
    %tr
      %th ID
      %th Reaction name
      %th Lab?
      %th Type
      %th Where
      %th Rate
      %th Gibbs energy
      %th Reference
      %th

  %tbody
    - @observations.each do |observation|
      %tr
        %td= link_to observation.id, observation
        %td= observation.reaction_name
        - if observation.lab 
          %td Lab
        - else
          %td In Situ
        %td= observation.environment_type
        %td= observation.location_name
        %td= observation.rate.to_s + ', ' + observation.rate_units
        %td= observation.gibbs_energy.to_s + ', ' + observation.gibbs_units
        %td= first_author(observation.reference)

%br

.row
  .col-md-6
    .pull-left
      = link_to 'New Observation', new_observation_path
  .col-md-6
    .pull-right
      = link_to 'Export as CSV', observations_path(format: :csv)