%h1= I18n.t('brand.name')

%p


%p
  = I18n.t 'brand.name'
%p

  To ask an access to 
  = link_to 'GitHub repository', 'https://github.com/orgs/biogeochemistry'
  of 
  = I18n.t 'brand.name'
  please contact 
  = mail_to "is.markelov@gmail.com", "Igor Markelov" 
  or 
  = mail_to "rmc@niva.no", "Raoul Couture"


%p
  = link_to 'Github', 'https://github.com/orgs/biogeochemistry/dashboard'
