.container
  %h4 
    Modeling the Sequence of Oxidant and Reductant Utilization 
    %br
    during Organic Matter Decomposition
    = link_to "(pdf version)", 'igor_poster_gold2015.pdf'
  %center
    %i
      =mail_to "igor.markelov@uwaterloo.ca", "Igor Markelov"  
      and Philippe Van Cappellen
    %p Ecohydrology Research Group, University of Waterloo, Canada 
  .row
    .col-md-6
      #section-head
        %h5 
          Competition for ED and EA
      #section-body
        #image
          = image_tag "redoxmodel/scheme.png", size: "450x300"
        :plain
          \begin{equation}
          R_i = k_i \cdot X \cdot \left[\frac{C_{ED}}{K^m_{ED}+C_{ED}}\right]_i \cdot \left[\frac{C_{EA}}{K^m_{EA}+C_{EA}}\right]_i \cdot F_T^i \cdot F^i_X
          \end{equation}
        .row
          #text-eq
            :plain
              \begin{equation} R_i \text{   - the rate of oxidation of a }i^{th}\text{ electron donor by the reduction of }i^{th}\text{ electron acceptor}\end{equation}
              \begin{equation} k_i   \text{   - reaction rate constant per unit biomass}\end{equation}
              \begin{equation} X     \text{   - microbial biomass} \end{equation}
              \begin{equation} C_{ED}\text{   - concentration of the electron donor} \end{equation}
              \begin{equation} C_{EA}\text{   - concentration of the electron acceptor} \end{equation}
              \begin{equation} K^m   \text{   - half-saturation constant} \end{equation}
              \begin{equation} F_T^i \text{   - thermodynamic term} \end{equation}
              \begin{equation} F_X^i \text{   - “inhibition” term} \end{equation}
    .col-md-6
      #section-head
        %h5 Common practice
      #section-body
        The most widely used expression to simulate the succession of electron acceptor utilization during the microbial degradation of organic matter is that of Humphrey (1972):
        :plain
          \begin{equation}
          F_X^i = \prod_{i=1}^{N}\frac{K_I^{i-1}}{K_I^{i-1}+C_I^{i-1}}
          \end{equation}
          \begin{equation} C_I^{i-1} \text{   - concentrations of all oxidants stronger than the }i^{th}\text{ EA} \end{equation}
          \begin{equation} K_I^{i-1} \text{   - the inhibition constant} \end{equation}
        %br
        %h5{align: 'center'} Drawbacks
        %p 
          1. Inhibition model requires the 
          %b a priori assignment of the order 
          of EA utilization.
        %p 
          2. Inhibition constants are specific to a particular set of environmental or experimental conditions and, hence, 
          %b lack general applicability.
        %p 
          3. The inhibition model cannot respond to variations in 
          %b dynamic conditions 
          that may reshuffle the order of EA or ED utilization (e.g., causing sulfate to be used before ferric iron oxyhydroxides – see Jakobsen R. & Postma D, 1999).
  .row
    .col-md-6
      #section-head
        %h5 Alternative approach
      #section-body
        In energy-limited environments (e.g., the subsurface), microbial communities compete for energy substrates. We propose to represent this competition by taking into account the 
        %b power (Pi) 
        of catabolic reactions:
        :plain
          \begin{equation}
          P_i = - n_i\cdot \Delta G_i \cdot R_i = - \Delta G_i \cdot R^e_i
          \end{equation}        
        %p The sequence of redox reactions is now determined by the power that can be harvested by the microbial populations.
        :plain
          \begin{equation}
          \label{eq:optimization}
          \begin{cases}
          & \max \left\{ - \sum\limits^{N}_{i=1} \Delta G_i \cdot R^e_i \cdot F^i_X \right\} \\
          & \sum\limits^{N}_{i=1} F^i_X = 1 \\
          &  F^i_X \geq 0
          \end{cases}
          \end{equation}

          \begin{equation} P_i \text{   - power produced by }i^{th}\text{ redox reaction} \end{equation}
          \begin{equation} \Delta G^e_i \text{   - Gibbs energy of the reaction per electron equivalent} \end{equation}
          \begin{equation} R^e_i \text{   - rate of the reaction per electron equivalent} \end{equation}
          \begin{equation} F^i_X \text{   - the unknown. The part of bacteria which respires }i^{th}\text{ reaction} \end{equation}

    .col-md-6
      #section-head
        %h5 Example: 1 ED and 6 EA
      #section-body
        #section-chemical-oxidation
          %h5 Oxidation
        :plain
          \begin{equation}
            \frac{1}{24}C_6H_{12}O_6 + \frac{1}{2}H_2O -> \frac{1}{4}HCO_3^- +  \frac{5}{4}H^+ + e^-
          \end{equation}
        #section-chemical-reduction
          %h5 Reduction
        :plain
          \begin{equation}
            \frac{1}{4}O_2 + H^+ + e^- -> \frac{1}{2}H_2O
          \end{equation}
          \begin{equation}
            \frac{1}{5}NO_3- + \frac{6}{5}H^+ + e^- -> \frac{1}{10}N_2(aq) + \frac{3}{5}H_2O
          \end{equation}
          \begin{equation}
            MnOOH + 3H^+ + e -> Mn^{2+} + 2H_2O
          \end{equation}
          \begin{equation}
            Fe(OH)_3 + 3H^+ + e^- -> Fe^{2+} + 3H_2O
          \end{equation}
          \begin{equation}
            \frac{1}{8}SO_4^{2-} + \frac{9}{8}H^+ + e^- -> \frac{1}{8}HS^- + \frac{1}{2}H_2O
          \end{equation}
          \begin{equation}
            FeOOH + 3H^+ + e^- -> Fe^{2+} + 2H_2O
          \end{equation}

  .row
    .col-md-6
      #section-head
        %h5 Example: 1 ED and 6 EA
      #section-body
        #image
          = image_tag "redoxmodel/conc_1ed_6ea.png", size: "400x320"
    .col-md-6
      #section-head
        %h5 Example: 1 ED and 6 EA
      #section-body
        #image
          = image_tag "redoxmodel/pr_1ed_6ea.png", size: "400x320"

  .row
    .col-md-6
      #section-head
        %h5 Example: 2 ED and 2 EA
      #section-body
        #section-chemical-oxidation
          %h5 Oxidation
        :plain
          \begin{equation}
            \frac{1}{2}H_2 -> H^+ + e^-
          \end{equation}
          \begin{equation}
            \frac{1}{8}CH_3COO^- + \frac{1}{6}H_2O  -> \frac{1}{4}HCO_3^- + \frac{9}{8}H^+ + e^-
          \end{equation}
        #section-chemical-reduction
          %h5 Reduction
        :plain
          \begin{equation}
            Fe(OH)_3 + 3H^+ + e^- -> Fe^{2+} + 3H_2O
          \end{equation}
          \begin{equation}
            \frac{1}{8}SO_4^{2-} + \frac{9}{8}H^+ + e^- -> \frac{1}{8}HS^- + \frac{1}{2}H_2O
          \end{equation}
    .col-md-6
      #section-head
        %h5 Example: 2 ED and 2 EA
      #section-body
        #image
          = image_tag "redoxmodel/conc_2ed_2ea.png", size: "400x320"

  .row
    .col-md-6
      #section-head
        %h5 Example: 2 ED and 2 EA
      #section-body
        #image
          = image_tag "redoxmodel/pr_2ed_2ea.png", size: "400x320"
    .col-md-6
      #section-head
        %h5 Applications
      %br
      #section-body
        Using an approach based on the 
        %b optimization of the power 
        generated by catabolic processes allows one to account for 
        %b dynamic 
        environmental conditions (e.g., variability of temperature, pH, ionic strength, activities of redox active species). The method can be applied to simulate the redox stratification observed in 
        %b early diagenesis 
        and other 
        %b energy-limited environments, 
        such as oligotrophic aquifers, where energy substrates are in low abundance.
      %br
      #section-head
        %h5 References
      %br
      #section-body
        %p Humphrey A. E. (1972). Advances in Chemistry, 109
        %p Jakobsen R. & Postma D. (1999). Geochimica Et Cosmochimica Acta, 63(1)
        %p LaRowe D. E. & Van Cappellen P. (2011). Geochimica Et Cosmochimica Acta, 75(8)
  .row{align: 'right'}
    = link_to "Download PDF", 'igor_poster_gold2015.pdf', :class => "btn btn-large btn-primary" 

:css
  .MathJax_Display {
    text-align: left !important;
  }
  .container h4 {
    position: relative;
    text-align: center;
    margin-left: 3em;
    margin-right: 3em;
  }
  #section-body {
    text-align: justify;
  }

  #section-head{
    text-align: center;
    border-bottom-style: solid;
  }

  #image{
    text-align: center;
  }

  #section-stress h5 {
    color: #B9185F;
    text-align: center;
  }

  #section-chemical-oxidation h5{
    color: #12911E;
    text-align: center;   
  }

  #section-chemical-reduction h5{
    color: #0073E6;
    text-align: center;   
  }