= simple_form_for(@gibbs_rates_observation) do |f|
  = f.error_notification
  .form-inputs
    .row
      .col-md-4
        = f.input :reaction_name, placeholder: "hint: sulfate reduction, glucose oxidation, etc."
        = f.input :donor, label: "Terminal Electron Donor", placeholder: "glucose, hydrogen"
        = f.input :acceptor, label: "Terminal Electron Acceptor", placeholder: "sulfate, hydrogen"
        = f.input :reaction, label: "Chemical Reaction", placeholder: "3C6H12O6 + 3SO4^{2-} + 21H{+}  -> 6CH3COO{-} + 12H2 + 6CO2 + 3HS{-} + 6H2O"
      .col-md-4
        = f.input :lab, label: "Measured in the lab or in Situ? Check if Lab"
        = f.input :environment_type, placeholder: "open ocean sediments, mud volcano / seafloor brine", hint: "marine brine pool , continental margin sediments, marine cold seep sediments, hydrothermal sediments, submarine mud volcanoes, shelf and trough sediments, diffuse hydrothermal vent,open ocean sediments, etc.. "
        = f.input :location_name, placeholder: "Gulf of Mexico"
      .col-md-4
        = f.input :rate, label: "Rate of the Chemical Reaction", placeholder: "3.13E-13, 0.0000001"
        = f.input :gibbs_energy, label: "Gibbs Energy of Reaction", placeholder: "4.48E+5, 448000"
        = f.input :reference, label: "Reference to the paper", placeholder: "Røy, H., Kallmeyer, J., Adhikari, R. R., Pockalny, R., Jørgensen, B. B., & D'Hondt, S. (2012). Aerobic microbial respiration in 86-million-year-old deep-sea red clay. Science, 336(6083), 922–925. http://doi.org/10.1126/science.1219424"
        = f.input :paper, label: "Reference to the paper where it was found" ,placeholder: "LaRowe, D. E., & Amend, J. P. (2015). Catabolic rates, population sizes and doubling/replacement times of microorganisms in natural settings. American Journal of Science, 315(3), 167–203. http://doi.org/10.2475/03.2015.01", hint: "fill this if you found the data not in the original paper but in different with reference to the original"
    .row
      .col-md-4
        .form-actions
          = f.button :submit, class: "btn btn-primary"
          
